body{
    background-color: lightgrey;
}

h1{
    color:red;
    font-family: Lato;
    font-size: 90px;
    text-decoration: underline;
    background-color: blue;
}

#bold{
    font-size: 120px;
    background-color: lightgreen;
}

.small{
    font-size: 70px;
}

h2{
    color:green;
    text-decoration: underline;
    font-size: 50px;
    font-family: Helvetica;
    font-weight: lighter;
}

span{
    font-style: italic;
}

h2 span{
    font-style: bold;
    text-decoration: line-through;
}

#h3header{
    font-size: 50px;
    background-color: orange;
    border-style: dashed;
    border-color: green;
    color: green;
}

h3{
    background-color: green;
    border-style: dotted;
    border-color: orange;
    border-width: 15px;
    color: purple;
    text-decoration: italic;
    font-size: 45px;
    border-radius: 8px;
}